# Documentation artifacts
/doc/html/

# Build artifacts
*build*/
*Build*/
**.a
**.o
**.os
**.so
**.lib
**.dll
**.dlib

# Conan files
conan*info.*
graph_info.json

# Editors cache

## Qt Creator
CMakeLists.txt.usr

## VSCode
.vscode

## Visual Studio
.vs

## Misc
*~
*.swp
CMakeSettings.json
